/* body {
    width: 100%;
    height: 240%;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #1ef3a5b2, #21d767a9, #21e9a6a4);
    font-family: Arial;

}

.container{
     width: 400%;
     height: auto;
     margin: auto;
    
     background-color: rgba(255, 255, 255, 0.731);
}

header {
    background: #06ca21da;
    color: white;
    padding: 10px 20px;
    text-align: left;
}
.buscar-container {
    margin: 10px;
    text-align: right;
}
.buscar-container input[type="text"] {
    padding: 10px;
    width: 300px;
}
.buscar-container button {
    padding: 10px;
    background: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}
.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}
.product {
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    width: 200px;
    text-align: center;
}
.product h3 {
    margin: 10px 0;
}
.product button {
    padding: 10px;
    background: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

.widget-title{
    color: rgb(0, 0, 0);
}

.card{

border: none;
border-radius: 10px;
padding: 20px;
box-shadow: 0 4px 8px #48bc22;
}

.footer-3 {
    text-align: center;
    padding: 20px;
    background: #21cc5d;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
} */
